<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: justify-all;">
      <th>id</th>
      <th>department</th>
      <th>hired</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>8</td>
      <td>Support</td>
      <td>216</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Engineering</td>
      <td>206</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Human Resources</td>
      <td>203</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Services</td>
      <td>200</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Business Development</td>
      <td>185</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Research and Development</td>
      <td>148</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Marketing</td>
      <td>142</td>
    </tr>
  </tbody>
</table>